.dashboard-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}

.dashboard-card {
  border-radius: 1rem;
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
